/Makefile
*.log
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.la
*.lo
*.o
*~
Makefile.in
aclocal.m4
config.*
configure
autom4te.cache
compile
install-sh
missing
ltmain.sh
depcomp
stamp-*
libtool
test-driver
.deps
.libs
m4/*.m4
.dirstamp
*.trs
/cscope.*
/tags
buxtond
buxtonctl
check_buxton
data/buxton.service
data/buxton.socket
data/*.pc
check_shared_lib
log-check-stderr-file
test/*.ini
src/shared/constants.c
check_daemon
check_buxtond
check_smack
bxt_timing
bxt_gtk_client
*.gcda
*.gcno
/coverage
test/databases/*.db
test/test.conf
check_configurator
GPATH
GRTAGS
GTAGS
bxt_hello*
buxton-*
debug_check_daemon.txt
